# Secrets & sensitive files
secrets.yaml
*.db
*.db-journal
*.log
*.log.*

# Home Assistant core files
.storage/
.backups/
.homeassistant/
ha_run.lock

# Cache & temp
__pycache__/
*.pyc
*.pyo

# Media & large files
*.mp4
*.mkv
*.jpg
*.jpeg
*.png
*.gif
# (keep only if you really want version control on photos)

# ESPHome
**/.esphome/
**/.pio/

# Other
.DS_Store
Thumbs.db